<!--以下、アルバム詳細-->
<!--注文詳細のレコードでアルバムIDがある件数をカウントし、０以下なら非表示-->
<% if @order.order_details.where(album_id: nil).count <= 0 %>
　<%= render 'customer/albums/purchased', album: @album, music: @musics %>
<% end %>
<!--ここまで、アルバム詳細-->

<!--以下、アイテム詳細-->
<!--注文詳細のレコードでアイテムIDがある件数をカウントし、０以下なら非表示-->
<% if @order.order_details.where(item_id: nil).count <= 0 %>
<div class="container">
　<%= render 'customer/orders/item_detail', order: @order %>
</div>
<% end %>
<!--ここまで、アイテム詳細-->


