<h1>Artist::Users#check</h1>



<div class="container">
    <div class="row mt-5 pt-5"></div>
    <div class="d-flex align-items-center justify-content-center m-4">
        <strong>本当に退会しますか？</strong>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <p class="text-center">
            退会すると、会員登録情報や</br>
            これまでに登録した楽曲・グッズ・ライブの全てが閲覧できなくなります。</br>
            退会する場合は、「退会する」をクリックしてください。
        </p>
    </div>

    <div class=" d-flex align-items-center justify-content-center text-center">
        <span class="m-3"><%= link_to "退会しない", artist_mypage_path, class: "btn btn-primary" %></span>
        <span class="m-3"><%= link_to "退会する", artist_users_withdraw_path(@artist),method: :patch, class: "btn btn-danger"  %></span>
    </div>
