<h1>Artist::Musics#index</h1>

<% @musics.each do |music| %>

<%= music.name %>
<%= music.price %>
<!--<a%= audio_tag(music.audio, controls: true) %>-->
<!--<a%= audio_tag(movie.title_song, controls: true) %>-->
  <%= audio_tag(polymorphic_path(music.get_audio), controls true) %>
<% end %>

<!--改行-->
<!--style="white-space:pre-wrap;"-->
<!---->

<!--改行表示-->
<!--<あ%=safe_join(@user.introduction.split("\n"),tag(:br))%>-->

<!--ダウンロード削除のプレイヤー-->
　　<!--<audio class="audiojs" src= "<a%= "#{music.file}" %>" controls controlslist="nodownload">-->
  <!--       <a src="<a%= "#{music.file}" %>">ダウンロード</a>-->
  <!--     </audio>-->

